<div class="container">

  <div class="row">
    <div class="col-sm-9">
      <h2>Add New Recipe</h2>
    </div>
    <div class="col-sm-3">
      <a href="/">
          <button type="button" class="btn btn-primary btn-lg">Home Page</button>
    </a>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-9">
      <div class="form-group">
        <form>
          <label for="title">Recipe Title</label>
            <input name="title" class="form-control" id="title">
          </form>
        </div>
      </div>
    <div class="col-sm-3">
      <div class="form-group">
        <form>
          <label for="foodType">Food Type</label>
          <select name="foodType" id="foodType">
            <option value="Italian">Italian</option>
            <option value="Asian">Asian</option>
            <option value="African">African</option>
            <option value="Mexican">Mexican</option>
            <option value="European">European</option>
            <option value="American">American</option>
            <option value="Other">Other</option>
          </select>
        </form>
      </div>
    </div>
  </div>
    
  <h3>Add Ingredients</h2>
  <div class = "ingredientList">
  </div>
  <div class="form-group">
    <form>
      <label for="ingredient">Ingredient</label>
      <input name="ingredient" class="form-control" id="ingredient">
    </form>
  </div>
    <button type="button" class="btn btn-primary btn-lg">Submit</button>
</div>
