
<div id="home">
  <div class="container">

    <div class="row">
      <div class="col-sm-9">
        <h1>On-The-Go Recipes</h1>
      </div>
      <div class="col-sm-3">
        <a href="/add">
          <button type="button" class="btn btn-primary btn-lg">Add New Recipe</button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>Current Recipes</h3>
        <ul>
          {{#each recipes}}
          <li class="recipeList" data-id="{{this.id}}"><a id="recipeLink" href="/recipe?recipe_id=">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>

<script>
var recipeId = $(".recipeList").attr("data-id"); //This creates a link with the recipe ID imbedded in the url
$("#recipeLink").attr("href", "/recipe?recipe_id="+recipeId);
</script>