<div id="home">
    <div class="container">

        <div class="row" id="topRow">
            <div class="col-sm-8">
                <h2>{{recipes.title}}</h2>
            </div>
            <div class="col-sm-4">
            <a href="/">
                <button type="button" class="btn btn-primary btn-lg">Home Page
                    <i class="fas fa-home"></i>
                </button>
            </a>
            </div>
        </div>

    <div id="recipeList">
        <ul>
            {{#each recipes}}
            <li>{{this.ingredient}}</li>
            {{/each}}
        </ul>
    </div>
    <div id ="descriptionDiv">
        <p>{{this.description}}</p>
    </div>

  </div>
</div>
