<div id="home">
    <div class="container">
        <h1>{{this.title[0]}}</h1>  
        <ul>
            {{#each recipes}}
            <li>{{this.ingredient}}</li>
            {{/each}}
        </ul>
    </div>
</div>
